body {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
  min-height: 100vh;
  /* min-width: 100vh; */
}
p {
  color: red;
  font-size: 14px;

}


.form {
  background-color: #d8f0ec;
  padding: 30px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:stretch;
  text-align: left;
  font-size: 20px;
  width: 100%;
  color: rgb(63, 62, 62);
}

label{
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  padding-left: 5px;
}
div{
  width: 95%;
}
.rad{
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 10px;
  display:flex;
  /* gap: 20px; */
  padding: 5px 0;
  width: 100%;
  /* justify-content: space-between; */
}
.rad label{
  margin: 0;
}
input[type="radio"]{
  cursor: pointer;
  align-items: end;
}

.input{
  margin: 0px 0 5px;
  text-align: left;
  border-radius: 6px;
  border: 1px solid #c6c5c5;
  padding: 5px;
  width: 90%;
  height: 30px;

}
.input:focus{
  outline: none;
}
.btn{
  padding: 10px;
  margin: 25px 0;
  width: 90%;
  height: 50px;
  font-size: 18px;
  border-radius: 8px;
  border:1px solid #47a793;
  color: #ffffff;
  background-color: rgb(71, 161, 149);
  justify-content: left;
}
.btn:hover{
  background-color: #2d655a;
  cursor: pointer;
}

.full{
  display: flex;
  justify-content: space-between;
}
.null{
  display: flex;
  gap: 20px;
}
.check{
  display: flex;
}
@media(max-width:767px){
  .form {
    background-color: #d8f0ec;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: rgb(63, 62, 62);
  }
  .full , .null{
    display: flex;
    flex-direction: column;
  }
}
.area{
  height: 100px;
  padding: 10px;
}